.App {
  diplay: flex;
  flex-direction: column;
  justify-content: center;
}

.DaysList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  margin-right: 33%;
  margin-left: 33%;
}
